<!DOCTYPE html>
<title>Hello </title>
<% if @name && @day %>
	<h1>Hello <%="#{@name}! Have a good #{@day}"  %>!</h1>
<% else %>
	<h1> Hello World! </h1>
<% end %>

<div id="contact-form">
	<h1>Get In Touch</h1>
	<form method=post action="/signup">
		<label for="name">Name: </label>
		<input type="text" id="name" name="name" value="" placeholder="Rob Paskin" required="required" autofocus="autofocus"/>
		<label for="email">Email address: </label>
		<input type="email" id="email" name="email" value="" placeholder="rob@example.com" required="required"/>
		<input type="submit" value="submit" id="submit-button">
	</form>
</div>


